.about-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-inline: 5%;
    margin-block: 1rem;
}

.about-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 2rem; */
}

.about-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 40rem;
    /* margin-inline: 1rem; */
}

.about-column h1 {
    margin-bottom: 1rem;
    align-self: center;
}

.about-info {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
}


.icon-about {
    padding-right: 1rem;
    padding-block: 0.5rem;
    filter: opacity(0.8);
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1/1;

}

.about-info div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 1rem;
}