.main-structure {
    position: absolute;
    min-width: 100%;
    /* min-height: 100%; */
    top: 0;
    Left: 0;

    display: flex;
    flex-direction: column;
    /* background-color: var(--black-1); */
    /* background: url(../images/background/fluid-1.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    /* overflow: hidden; */


    background: linear-gradient(to top right, var(--black-1), var(--black-2))
}