.blob {
    z-index: 1;
    position: absolute;

    display: flex;
    justify-content: center;

    /* display: none; */
    min-width: 45rem;
    min-height: 40%;
    /* background-color: red; */
    /* transform: scale(2.7); */
    margin-right: 2rem;
}

.blob-glow {
    z-index: 0;
    position: absolute;
    transform: scale(2.7);
    filter: blur(25px);
    margin-right: 2rem;
}