.blob {
    z-index: 1;
    position: absolute;
    transform: scale(2.7);
    margin-right: 2rem;
}

.blob-glow {
    z-index: 0;
    position: absolute;
    transform: scale(2.7);
    filter: blur(25px);
    margin-right: 2rem;
}