footer {
    background-color: var(--black-2);
}

.footer-main-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
    text-align: center;
}

/* .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;
} */

.footer-main-column p {
    font-size: 0.8rem;
    padding-inline: 0.5rem;
    max-width: 30rem;
}

footer #logo {
    padding-inline: 1rem;
    padding-top: 1.5rem;
    filter: opacity(0.8);
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1/1;
}