:root {
    --black-1: #19181f;
    --black-2: #211e27;
    --violet: #1e90ff;
    --pink: #f29fbd;
    --pink-2: #f29fbdc4;
    --violet-1: #804bf8;
    --violet-2: #736c85;
    --white: #ffffff;

    --margin-bottom: 3em;



    --bg-black: #27164d;
    --bg-purple: #553245;


    --card-black: #232029;
    --card-black-2: #221e28;
    --card-black-3: #1b1820;



}