:root {
    --black-1: #19181f;
    --black-2: #211e27;
    --violet: #1e90ff;
    --pink: #f29fbd;
    --pink-2: #f29fbdc4;
    --violet-1: #804bf8;
    --violet-2: #736c85;

    --margin-bottom: 3em
}