:root {
    --black-1: #19181f;
    --black-2: #211e27;
    --violet: #1e90ff;
    --pink: #f29fbd;
    --pink-2: #f29fbdc4;
    --violet-1: #804bf8;
    --violet-2: #736c85;
    --white: #ffffff;

    --margin-bottom: 3em;



    --main-bg-black: #27164d;
    --main-bg-purple: #140c11;

    --card-bg-1: #312c39;
    --card-bg-2: #211e27;
    --card-bg-shadow: #7f4bf85f;

}