.iphone-wrapper {
    position: relative;
    min-width: 20rem;
    /* height: 100vh; */
    /* margin-right: 2rem; */
    /* background-color: yellow; */
    overflow: visible;
}


.iphone {
    z-index: 2;
    position: relative;
    margin-inline: 50%;
    transform: translate(-50%, 0);

    aspect-ratio: 9 / 19.5;
    min-width: 75%;
    min-height: 75%;

    border: 6px solid var(--black-1);
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background: url(../images/background-iphone-blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    /* box-shadow: 0px 0px 10px var(--card-bg-shadow); */
}

.notch-containter {
    position: relative;

    z-index: 3;
    min-width: 100%;
    max-height: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notch {
    background: var(--black-1);
    min-width: 60%;
    min-height: 100%;
    border-radius: 0% 0% 15px 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.speaker {
    position: block;
    min-width: 40%;
    min-height: .6rem;
    background: var(--black-2);
    border-radius: .2rem;
}

.camera {
    aspect-ratio: 1/1;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    margin-inline: 10%;
    min-width: 7%;
    /* height: .7rem; */
    border-radius: 50%;
    border: .2rem solid #1e1f22;
    background: var(--violet-1);
}

.widget {
    min-width: 100%;
    /* min-height: 10vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.widget_pic {
    aspect-ratio: 1/1;
    margin-top: 10%;
    min-width: 90%;
    /* min-height: 10rem; */
    background: url(../images/linkedin.png);
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0px 5px 5px #33333340;
    transition: transform 500ms ease;
}


.dock-wrapper {
    min-width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;
}

/* .page-dots {
    display: flex;
    flex-direction: row;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    background-color: red;
} */

.page-dot:nth-child(1) {
    aspect-ratio: 1/1;
    max-width: 3%;
    /* height: .7rem; */
    border-radius: 50%;
    background: var(--white);
}

.page-dot:nth-child(2) {
    aspect-ratio: 1/1;
    max-width: 3%;
    /* height: .7rem; */
    border-radius: 50%;
    background: var(--white);
}

.dock {
    margin-bottom: 0.5rem;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    max-width: 95%;
    min-height: 80px;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dock div {
    margin: 10px;
    z-index: 3;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #33333340;
    cursor: pointer;
}



.dock #linkedin {
    background: url(../images/apps/linkedin.jpg);
    background-size: cover;

}

.dock #mail {
    background: url(../images/apps/mail-os.png);
    background-size: cover;
}

.dock #git {
    background: url(../images/apps/github.jpg);
    background-size: cover;
}



@media(hover) {
    .dock div:hover {
        transform: scale(1.3);
        transition: transform 300ms ease;
    }

    .profile_pic:hover {
        transform: scale(1.1);
    }
}