.who-am-i-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-block: 10vh;
}

.who-am-i {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.who-am-i-box {
    margin-block: min(5rem, 90%);
    margin-left: 15%;
    padding: 2rem;

    display: flex;
    flex-direction: column;


    justify-content: space-evenly;
    align-items: center;

    border-radius: 2rem;

    background: linear-gradient(to right bottom, var(--card-bg-1), var(--card-bg-2));
    box-shadow: 6px 6px 20px var(--card-bg-shadow);

    backdrop-filter: blur(10px);

    color: white;

}

.who-am-i #name {
    /* color: var(--violet-1); */
    background: -webkit-linear-gradient(var(--violet-1), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.who-am-i-links {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    /* background-color: red; */
}

.icon-link {
    filter: opacity(0.8);
    width: 2.2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}


.download-cv {
    display: inline-block;
    background: linear-gradient(to bottom right, var(--violet-1), var(--pink-2));
    border-radius: 0.8rem;
    padding-inline: 1rem;

    font-weight: bold;
}

.who-am-i #hello {}